header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
}